<body>
  <div>
    <table>
      <tr>
        <th>Nombre producto</th>
        <th>Precio</th>
        <th>Icono</th>
      </tr>
      <div id="producto-lista">
        <% if(productos) { %> <% productos.forEach(function(producto){ %>
        <tr>
          <td><%=producto.title %></td>
          <td><%=producto.price %></td>
          <td><%=producto.thumbnail %></td>
        </tr>
        <% }); %> <% } else { %>
      </div>

      <p>No hay productos</p>
      <% } %>
    </table>
  </div>
</body>
