<body>
  <div>
    <table>
      <tr>
        <th>Nombre producto</th>
        <th>Precio</th>
        <th>Icono</th>
      </tr>

      <% if(productos) { %> <% productos.forEach(function(producto){ %>
      <tr>
        <td><%=producto.title %></td>
        <td><%=producto.price %></td>
        <td><%=producto.thumbnail %></td>
      </tr>
      <% }); %> <% } else { %>
      <p>No hay productos</p>
      <% } %>
    </table>
  </div>
</body>
