.product-container-main.card{
    border: 1px solid rgb(218, 209, 209);
    margin: 20px;
    border-radius: 5px;
}
.product-container-main.card img{
    height: 275px;
    width: 275px;
}
.product-container-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.product-id-card{
    font-size: smaller;
    color: rgb(120, 117, 117);
}
