<body>
  <table>
    <tr>
      <th>Nombre producto</th>
      <th>Precio</th>
      <th>Icono</th>
    </tr>
    <% productos.forEach(function(producto){ %>
      <tr>
          <td><%=producto.title %></td>
          <td><%=producto.price %></td>
          <td><%=producto.thumbnail %></td>
      </tr>
    <% }); %>
  </table>

</body>
