<body>
  This is body
  <% users.forEach(function(user){ %>
    <li>
        <strong><%=user.name %></strong>
        <strong><%=user.lastName %></strong>
    </li>
  <% }); %>
  <article>2</article>
  <article>3</article>
  <article>4</article>
</body>
