<nav>
  <div class='d-flex mb-3'>
    <h1 class="text-primary d-flex align-items-center text-nowrap align-center col-8">
      Listado de Productos - Ejs
    </h1>
    <button
      class="btn btn-secondary d-flex justify-content-center align-items-center col-3"
      type="button"
      onClick="window.location.href='http://localhost:8080/api/registro';"
    >
      Back to form
    </button>
  </div>
</nav>
