<footer class="footer">
    <ul class="list-unstyled d-flex justify-content-evenly bg-light">
        <li class="">Instagram</li>
        <li class="">Facebook</li>
        <li class="">Twitter</li>
    </ul>
</footer>